.ellipse26 {
  position: absolute;
  width: 100%;
  height: 1088px;
  left: 0px;
  bottom: -544px;

  background: linear-gradient(
    242.97deg,
    rgba(203, 96, 115, 0.6) 5.18%,
    rgba(191, 99, 33, 0.6) 97.46%
  );
  filter: blur(500px);
}
